In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import pickle

In [2]:
database = pd.read_csv('../../database/credit_db.csv',header = 1)

In [3]:
database

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [4]:
database[database.isnull().any(axis=1)]

Empty DataFrame
Columns: [ID, LIMIT_BAL, SEX, EDUCATION, MARRIAGE, AGE, PAY_0, PAY_2, PAY_3, PAY_4, PAY_5, PAY_6, BILL_AMT1, BILL_AMT2, BILL_AMT3, BILL_AMT4, BILL_AMT5, BILL_AMT6, PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5, PAY_AMT6, default payment next month]
Index: []

[0 rows x 25 columns]

In [5]:
credit_db = database

In [6]:
credit_db

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

Manual dimentionality reduction

In [7]:
credit_db.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [8]:
credit_db['TOTAL_BILL_AMNT'] = credit_db['BILL_AMT1'] + credit_db['BILL_AMT2'] + credit_db['BILL_AMT3'] + credit_db['BILL_AMT4'] + credit_db['BILL_AMT5'] + credit_db['BILL_AMT6']

In [9]:
credit_db['DEBT_1'] = credit_db['BILL_AMT1'] - credit_db['PAY_AMT1']
credit_db['DEBT_2'] = credit_db['BILL_AMT2'] - credit_db['PAY_AMT2']
credit_db['DEBT_3'] = credit_db['BILL_AMT3'] - credit_db['PAY_AMT3']
credit_db['DEBT_4'] = credit_db['BILL_AMT4'] - credit_db['PAY_AMT4']
credit_db['DEBT_5'] = credit_db['BILL_AMT5'] - credit_db['PAY_AMT5']
credit_db['DEBT_6'] = credit_db['BILL_AMT6'] - credit_db['PAY_AMT6']

In [10]:
credit_db = credit_db.drop(columns=['PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6'])

In [11]:
credit_db = credit_db.drop(credit_db.columns[[0,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17]], axis=1)

In [12]:
credit_db['DEBT_AMT'] = credit_db['DEBT_1'] + credit_db['DEBT_2'] + credit_db['DEBT_3'] + credit_db['DEBT_4'] + credit_db['DEBT_5'] + credit_db['DEBT_6']

In [13]:
credit_db.columns

Index(['LIMIT_BAL', 'AGE', 'default payment next month', 'TOTAL_BILL_AMNT',
       'DEBT_1', 'DEBT_2', 'DEBT_3', 'DEBT_4', 'DEBT_5', 'DEBT_6', 'DEBT_AMT'],
      dtype='object')

In [14]:
credit_db

,LIMIT_BAL,AGE,default payment next month,TOTAL_BILL_AMNT,DEBT_1,DEBT_2,DEBT_3,DEBT_4,DEBT_5,DEBT_6,DEBT_AMT
0,20000,24,1,7704,3913,2413,689,0,0,0,7015
1,120000,26,1,17077,2682,725,1682,2272,3455,1261,12077
2,90000,34,0,101653,27721,12527,12559,13331,13948,10549,90635
3,50000,37,0,231334,44990,46214,48091,27214,27890,28547,222946
4,50000,57,0,109339,6617,-31011,25835,11940,18457,18452,50290
...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,39,0,725349,180448,172815,203362,84957,26237,14980,682799
29996,150000,43,0,21182,-154,-1698,-5496,8850,5190,0,6692
29997,30000,37,1,70496,3565,3356,-19242,16678,18582,16257,39196
29998,80000,41,1,266611,-87545,74970,75126,50848,-41109,47140,119430
29999,50000,46,1,230874,45851,47105,48334,35535,31428,14313,222566

Scailing data

In [15]:
scaler_credit = StandardScaler()
credit_db = scaler_credit.fit_transform(credit_db)

In [16]:
credit_db

array([[-1.13672015, -1.24601985,  1.87637834, ..., -0.58646786,
        -0.5595361 , -0.63662272],
       [-0.3659805 , -1.02904717,  1.87637834, ..., -0.5294098 ,
        -0.53857195, -0.62268393],
       [-0.59720239, -0.16115646, -0.53294156, ..., -0.35612176,
        -0.38415872, -0.40636546],
       ...,
       [-1.05964618,  0.16430256,  1.87637834, ..., -0.27959295,
        -0.28926308, -0.54800865],
       [-0.67427636,  0.59824792,  1.87637834, ..., -1.26536789,
         0.22416754, -0.32707512],
       [-0.90549825,  1.14067961,  1.87637834, ..., -0.06744598,
        -0.32158213, -0.04307832]], shape=(30000, 11))

In [17]:
with open('../../database/credit_db.pkl', mode='wb') as f:
    pickle.dump(credit_db, f)